<!doctype html>
<html>
  <head>
    <title>Latest Stalker</title>
    <meta charset='utf-8'/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="description" content="Latest Stalker is an api and module to find outdated dependencies."/>
    <meta name="keywords" content="node, node.js, package, dependencies, satisfied, check, api, online, tool" />
    <style><%- assets.style %></style>
  </head>
  <body>
    <%- html %>
    <script>window.state=<%- state %></script>
    <script data-dll="true" src="/<%- assets.vendor.js %>"></script>
    <script async src="/<%- assets.website.js %>"></script>
  </body>
</html>
